.sprite {
    background-image: url('../img/sprite-main.png');
    background-repeat: no-repeat;
    display: block;
}
.sprite-form-checkbox {
    width: 20px;
    height: 20px;
    background-position: -1px -1px;
}
.sprite-form-checkbox-checked {
    width: 20px;
    height: 20px;
    background-position: -23px -1px;
}
.sprite-form-radio {
    width: 20px;
    height: 20px;
    background-position: -45px -1px;
}
.sprite-form-radio-checked {
    width: 20px;
    height: 20px;
    background-position: -67px -1px;
}
.sprite-ico-fb {
    width: 12px;
    height: 22px;
    background-position: -89px -1px;
}
.sprite-ico-fb-hover {
    width: 12px;
    height: 22px;
    background-position: -103px -1px;
}
.sprite-ico-inst {
    width: 21px;
    height: 21px;
    background-position: -117px -1px;
}
.sprite-ico-inst-hover {
    width: 21px;
    height: 21px;
    background-position: -140px -1px;
}
.sprite-ico-login {
    width: 18px;
    height: 16px;
    background-position: -163px -1px;
}
.sprite-ico-padlock {
    width: 15px;
    height: 17px;
    background-position: -183px -1px;
}
.sprite-ico-user {
    width: 15px;
    height: 15px;
    background-position: -200px -1px;
}
.sprite-main-ico-vk {
    width: 25px;
    height: 16px;
    background-position: -217px -1px;
}
.sprite-ico-vk-hover {
    width: 25px;
    height: 16px;
    background-position: -244px -1px;
}
body {
  min-width: 960px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  background: black url('../img/bg-index.jpg') no-repeat center top; 
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.main-header {
  margin-bottom: 57px;
  color: white;
  background-color: black; 
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 26px 20px;
  text-decoration: none;
  color: white;
}
.main-navigation .disabled a {
  color: #aba9a7;
  cursor: default;
}
.main-navigation a:hover {
  background-color: #242424;
}
.main-navigation .active a {
  position: relative;
}
.main-navigation .active a:hover,
.main-navigation .disabled a:hover {
  background: none;
}

.main-navigation .active a::after {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 4px;
  background-color: white;
  content: '';
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  position: relative;
  display: inline-block;
  padding: 26px 20px;
  padding-left: 50px; 
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}
.login:hover {
  background-color: #242424;
}
.login:before {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 16px;
  background: transparent url('../img/sprite.png') no-repeat -163px -1px;
  content: '';
  opacity: 0.3;
}
.login:hover:before {
  opacity: 1;
}
.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.features-row {
  margin-bottom: 70px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-title {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}
.features-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  content: '';
  transform: rotate(45deg);
}
.features-item p {
  margin: 10px;
}
.index-content {
  margin-bottom: 30px;
  padding: 45px 80px;
  color: black;
  background: 
              url('../img/bg-index-content-shadow.png') no-repeat center,
      #f8f5f2 url('../img/bg-pattern-white.jpg') -50px 0;
}
.content-column-left {
  float: left;
  width: 350px;
}
.content-column-right {
  float: right;
  width: 300px;
}
.content-column-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}
.news-preview {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview 0 {
  margin: 0;
}
.news-preview time {
  font-style: italic;
  text-transform: none;
}
.btn {
  display: inline-block;
  overflow: hidden;
  margin-right: 20px;
  padding: 10px 33px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover, 
.btn:active {
  background-color: #663d15;
}
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn:disabled:hover {
  background-color: black;
}
.gallery-content {
  margin: 0;
  max-height: 250px;
  overflow-y: auto; 
}
.gallery-content img {
  width: 135px;
  height: 82px;
  margin-right: 5px;
}
.gallery-live {
  position: relative;
  padding-bottom: 82px;
}
.gallery-live .gallery-content {
  position: relative;
  height: 164px;
  border: 7px solid white;
  background: #ccc;
  overflow: hidden;
}
.gallery-live .gallery-content a {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery-live .gallery-content img {
  width: 286px;
  height: 164px;
  margin-right: 0;
}
.gallery-live .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-togles {
  display: none;
}
.gallery-togles-visible {
  display: block;
}
.gallery-live .gallery-prev {
  left: 0;
}
.gallery-live .gallery-next {
  right: 0;
}
.index-content p {
  margin: 0;
  margin-bottom: 30px;
}
.appointment-form input {
  float: left;
  width: 106px;
  padding: 10px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  background-color: #f9f6f3;
  border: 2px solid black;
  outline: none;
}
.appointment-form input[type='date'] {
  width: 121px;
  padding-right: 0;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form .btn {
  width: 100%;
  margin-top: 15px; 
  clear: both;
}

/* Styles for inner pages */
.inner-page {
  color: black;
  background: #f8f3f0 url('../img/bg-pattern-white.jpg') repeat;
}
.inner-page .main-header {
  margin-bottom: 50px;
}
.inner-page-title {
  margin-bottom: 47px;
}
.inner-page-title h1 {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs li:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 15px;
  width: 8px;
  height: 8px;
  background-color: black;
  transform: rotate(45deg);
}
.breadcrumbs a {
  text-decoration: none;
  color: black;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.breadcrumbs .current:after {
  content: none;
}

/* General styles for content tags */
.inner-content {
  margin-bottom: 77px;
}
.catalog-content {
  margin-bottom: 0;
}
.inner-content h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 42px;
}
.inner-content h2 {
  margin-top: 54px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
}
.inner-content p {
  margin: 14px 0;
}
.inner-content table {
  border-collapse: collapse;
}
.inner-content td {
  padding: 7px 17px;
  border: 2px solid black;
}

/* Columns for content */
.inner-content-columns {
  margin: 60px 0;
}
.inner-content-column-left,
.inner-content-column-right {
  width: 468px;
}
.inner-content-column-left {
  float: left;
}
.inner-content-column-right {
  float: right;
}
.inner-content-column-left *:first-child,
.inner-content-column-right *:first-child {
  margin-top: 0;
}
.inner-content-column-left *:last-child,
.inner-content-column-right *:last-child {
  margin-bottom: 0;
}

/* Specific styles for content tags */
.big-heading {
  margin-top: 47px;
  margin-bottom: 60px;
  text-align: center;
}
.big-heading h2 {
  position: relative;
  z-index: 2;
  display: inline;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f3f0 url('../img/bg-pattern-white.jpg') repeat;
}
.big-heading:after {
  content: '';
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid black;
}
.custom-list-1,
.custom-list-2,
.filter-items {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}
.custom-list-1 li,
.custom-list-2 li {
  position: relative;
  padding-left: 20px;
}
.custom-list-1 li:before,
.custom-list-2 li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: black;
  transform: rotate(45deg);
}
.custom-list-1 li {
  margin-bottom: 13px;
}
.prices-table {
  width: 100%;
}
.prices-table td {
  width: 50%;
}
.prices-table td:last-child {
  text-align: center;
}
.short-text {
  padding-right: 80px;
}
.filter-items {
  margin-bottom: 47px;
}
.filter-items li {
  position: relative;
  margin-bottom: 13px;
}
.filter-items input[type='checkbox']:enabled,
.filter-items input[type='checkbox']:disabled,
.filter-items input[type='radio']:enabled,
.filter-items input[type='radio']:disabled {
  display: none;
}
/*for IE 8*/
.filter-items input[type='checkbox'] + label,
.filter-items input[type='radio'] + label {
  padding-left: 5px; 
}
.filter-items input[type='checkbox']:enabled + label,
.filter-items input[type='checkbox']:disabled + label,
.filter-items input[type='radio']:enabled + label,
.filter-items input[type='radio']:disabled + label {
  position: relative;
  display: inline-block;
  padding-left: 43px;
  vertical-align: top;
  cursor: pointer;
}
.filter-items input[type='checkbox'] + label:hover,
.filter-items input[type='radio'] + label:hover {
  color: #663d15;
}
.filter-items input[type='checkbox']:disabled + label:hover,
.filter-items input[type='radio']:disabled + label:hover {
  color: black;
  cursor: default;
}
.filter-items input[type='checkbox'] + label:before,
.filter-items input[type='radio'] + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}
.filter-items input[type='checkbox']:enabled + label:before,
.filter-items input[type='checkbox']:disabled + label:before {
   background: url('../img/sprite.png') no-repeat -1px -1px;
}
.filter-items input[type='radio']:enabled + label:before,
.filter-items input[type='radio']:disabled + label:before {
   background: url('../img/sprite.png') no-repeat -45px -1px;
}
.filter-items input[type='checkbox']:checked + label:before{
  background: url('../img/sprite.png') no-repeat -23px -1px;
}
.filter-items input[type='radio']:checked + label:before{
  background: url('../img/sprite.png') no-repeat -67px -1px;
}
.filter-items input[type='checkbox']:disabled + label,
.filter-items input[type='radio']:disabled + label{
  opacity: 0.3;
}
.sidebar {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.catalog {
  float: right;
  width: 700px;
  font-size: 0;
}
.sidebar-filter .btn {
  width: 100%;
}
.sidebar-filter h2 {
  margin-top: 0;
}
.catalog-item {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,1,1,0.2);
  transition: 0.3s;
}
.catalog-item:hover {
  box-shadow: 5px 5px 25px rgba(0,1,1,0.3);
}
.catalog-item a {
  text-decoration: none;
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-item-title {
  text-transform: initial;
}
.catalog-item-preview {
  width: 220px;
  height: 176px;
  background-color: #f8f8f8;
  overflow: hidden;
}
.catalog-item-preview  img {
  width: 220px;
  height: 176px;
}
.catalog-item-info {
  padding: 15px;
}
.catalog-item-info a {
  display: block;
  overflow: hidden;
  color: black;
  text-overflow: ellipsis;
}
.catalog-item-price {
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
}
.catalog-item-price p {
  float: left;
  box-sizing: border-box;
  width: 60%;
  margin: 0;
  padding: 10px 10px;
  text-align: center;
  background-color: #e5e5e5;
}
.catalog-item-price .item-btn {
  float: right;
  box-sizing: border-box;
  width: 40%;
  padding: 10px 10px;
  color: white;
  text-align: center;
  background-color: black;
  text-decoration: none;
}
.catalog-item-price .item-btn:hover {
  background-color: #663d15;
}
.paginator {
  margin-top: 25px;
}
.paginator a,
.paginator span {
  display: inline-block;
  min-width: 15px;
  margin-right: 7px;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
}
.paginator a {
  color: white;
  text-decoration: none;
  background-color: black;
}
.paginator a:hover {
  background-color: #663d15;
}
.paginator span {
  color: black;
  background-color: white;
}
.item-images {
  float: left;
  width: 540px;
  font-size: 0;
}
.item-content {
  float: right;
  width: 390px;
}
.item-image-main,
.item-image-thumbnail {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0,1,1,0.2);
  transition: 0.3s;
}
.item-image-main:hover,
.item-image-thumbnail:hover {
  box-shadow: 5px 5px 25px rgba(0,1,1,0.3);
}
.item-image-main {
  width: 460px;
  height: 498px;
  margin-bottom: 20px;
}
.item-image-thumbnail {
  width: 140px;
  height: 149px;
}
.item-content h2 {
  margin-top: 0;
}
.item-content .catalog-item-price {
  width: 187px;
  margin-top: 35px;
}
.item-content-availability {
  margin-top: 30px;
  margin-bottom: 25px;
}
.item-availability {
  float: left;
  max-width: 195px;
}
.item-article {
  float: right;
  max-width: 195px;
  color: #aba9a7;
}
p.item-description {
  margin-bottom: 56px;
}

.main-footer {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  background: #252525 url('../img/bg-pattern-black.jpg') 
}
.inner-page .main-footer { 
  margin-top: 45px; 
}
.footer-contacts {
  float: left;
  width: 320px;
}
.footer-contacts-tel {
  text-decoration: none;
}
.footer-contacts a {
  color: #fff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 300px;
  text-align: center;
}
.footer-copyright {
  float: right;
  max-width: 320px;
  text-align: center;
}
.footer-social p,
.footer-copyright p {
  margin: 0;
  margin-bottom: 3px;
}
.footer-social p {
  text-align: center;
}
.social-btn {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  vertical-align: top;
  font-size: 0;
  background-color: black;
}
.social-btn:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url('../img/sprite.png') no-repeat center;
  content: '';
}
.social-btn:hover {
  background-color: white;
}
.social-btn-vk:before {
  width: 25px;
  height: 16px;
  background-position: -217px -1px;
}
.social-btn-fb:before {
  width: 12px;
  height: 22px;
  background-position: -89px -1px;
}
.social-btn-inst:before {
  width: 21px;
  height: 21px;
  background-position: -117px -2px;
}
.social-btn-vk:hover:before {
  width: 25px;
  height: 16px;
  background-position: -244px -1px;
}
.social-btn-fb:hover:before {
  width: 12px;
  height: 22px;
  background-position: -103px -1px;
}
.social-btn-inst:hover:before {
  width: 21px;
  height: 21px;
  background-position: -140px -2px;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: black;
  background: white;
}

/* Pop-up login form */
.modal-content-login {
  position: absolute;
  width: 300px;
  top: 120px;
  right: 0;
  left: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 82px;
  z-index: 11;
  color: black;
  background: #f8f3f0 url('../img/bg-pattern-white.jpg') repeat;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7); 
}
.modal-content-close {
  position: absolute;
  top: 52px;
  right: -50px;
  width: 20px;
  height: 20px;
  font-size: 30px;
  font-family: 'Verdana', sans-serif;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}
.modal-content-login h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content-login p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content-login .login-form {
  margin-top: 27px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.inner-content .login-form {
  margin: 0 auto;
  box-sizing: border-box;
  width: 300px;
  min-width: 300px;
}
.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;
  font-family: 'PT Sans Narrow', sans-serif; 
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  outline: none;
  background-color: #f9f6f3;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form label[for='icon-user'],
.login-form label[for='icon-password'] {
  position: relative;
}
.login-form label[for='icon-user']:after {
  content: '';
  position: absolute;
  top: 0;
  left: 270px;
  width: 15px;
  height: 15px;
  background: url('../img/sprite.png') no-repeat -200px -1px;
}
.login-form label[for='icon-password']:after {
  content: '';
  position: absolute;
  top: 0;
  left: 270px;
  width: 15px;
  height: 17px;
  background: url('../img/sprite.png') no-repeat -183px -1px;
}
.login-form .restore{
  float: right;
  color: black;
}
.login-form .btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 17px;
}
.login-form input[type='checkbox']:enabled,
.login-form input[type='checkbox']:disabled {
  display: none;
}
.login-form input[type='checkbox']:enabled + label,
.login-form input[type='checkbox']:disabled + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  cursor: pointer;
}
.login-form input[type='checkbox'] + label:hover {
  color: #663d15;
}
.login-form input[type='checkbox']:enabled + label:before,
.login-form input[type='checkbox']:disabled + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat -1px -1px;
}
.login-form input[type='checkbox']:checked + label:before{
  background: url('../img/sprite.png') no-repeat -23px -1px;
}
@keyframes bounce {
  0%    { transform: translateY(-2000px); }
  70%   { transform: translateY(30px);    }
  90%   { transform: translateY(-10px);   }
  100%  { transform: translateY(0);       }
}
@keyframes shake {
  0%, 100%                { transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

/* Pop-up map */
.modal-content-map {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 766px;
  height: 561px;
  display: none;
  margin: auto;
  z-index: 12;
  border: 7px solid white;
  background: #e9e5dc url('');
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-content-show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.overlay--show {
  display: block;
}